*
!*/
#  ────────────────────────────────────────────────────────────
!/assets/**/.gitignore
!/contrib/**/.gitignore
!/docs/**/.gitignore
!/api/**/.gitignore
!/cmd/**/.gitignore
!/sdk/**/.gitignore
!/internal/**/.gitignore
!/build/**/.gitignore
#  ────────────────────────────────────────────────────────────
!/cspell.config.yaml
!/.cspell/
!/.cspell/*.txt
#  ────────────────────────────────────────────────────────────
!/.gp/Dockerfile
#  ────────────────────────────────────────────────────────────
!/.vscode/
!/.vscode/*.json
#  ────────────────────────────────────────────────────────────
!/.devcontainer/
!/.devcontainer/*.json
!/.devcontainer/*.env
!/.devcontainer/*Dockerfile*
!/.devcontainer/*docker-compose.yml
#  ────────────────────────────────────────────────────────────
!/.github/
!/.github/CODEOWNERS
!/.github/ISSUE_TEMPLATES/
!/.github/ISSUE_TEMPLATES/*.md
!/.github/ISSUE_TEMPLATES/*.yml
!/.github/workflows/
!/.github/workflows/*.yml
#  ────────────────────────────────────────────────────────────────────
!/go.mod
!/go.sum
!/tools.go
!/magefile.go
!/.golangci.yml
!/.go-version
!/.revive.toml
!/.goreleaser.yml
#  ────────────────────────────────────────────────────────────
!/.gitignore
!/.stignore
!/.env
!/.editorconfig
#  ────────────────────────────────────────────────────────────
!/docker-bake.hcl
!/*docker-compose.yml
!/.dockerignore
#  ────────────────────────────────────────────────────────────
!/commitlint.config.js
!/.pre-commit-config.yaml
!/.markdownlintignore
!/.versionrc
#  ────────────────────────────────────────────────────────────
!/.gitpod.yml
!/.build.yml
!/Justfile
!/Makefile
#  ────────────────────────────────────────────────────────────
!/swagger.yaml
!/README.md
!/LICENSE
#  ────────────────────────────────────────────────────────────
